* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

.wrapper {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(img/1653308978_2-celes-club-p-pastelnii-fon-estetika-krasivie-2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.winner {
    width: 350px;
    height: 200px;
    background-color: #FFA07A;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    position: absolute;
    cursor: pointer;
    display: none;
}

.close {
    position: absolute;
    display: block;
    width: 50px;
    height: 50px;
    z-index: 100;
    top: 5px;
    right: 0px;
    background: url(/ic-cancel_97589.svg) no-repeat center;
}

.winner:hover {
    background-color: #f78051;
}

table {
    border-collapse: collapse;
    font-size: 40px;
    font-family: 'Readex Pro', sans-serif;

}

table td {
    width: 90px;
    height: 90px;
    border: 2px solid black;
    text-align: center;
    cursor: pointer;

}


tr:first-child td {
    border-top: none;
}

tr:last-child td {
    border-bottom: none;
}

tr td:first-child {
    border-left: none;
}

tr td:last-child {
    border-right: none;
}